@media screen and (min-width: 1025px) and (max-width: 1949px){

  /* ==================================================== Loader ============ */

  .spinner2{
    width: 19rem ;
    height:  19rem;
    animation: load 2s infinite;
  }
/* ============================================== HOMEICON */
.homePageBtn{
  position: absolute;
  top: 0rem;
  left: 0rem;
  height: 5rem;
  width: 12rem;
  animation: homeIcon 1s infinite;
}  
@keyframes homeIcon{
  0% {
    transform: translateY( 0 );
  }
  50%{
    transform: translateY( 2px );
  }
  100%{
    transform: translateY( 0 );
    
  }
}

/* =============================================== HOME ================================================================ */

 .homeContainer{
    background-size: 180rem;
    background-position-x: 5rem;
    background-position-y: -1rem;
    /* background-position: center; */
    background-repeat: no-repeat;
  }

  .homeInfo{
    display: flex;
    flex-direction: column;
    gap: 0rem;
    padding: 2rem;
  }

  .homeTitle{
    text-align: center;
    font-size: 50px;
    margin-bottom:  2rem;
  }
  
  .homeTitle2{
    font-size: 40px;
    margin-bottom: 2rem;
  }

  .homeTitle3{
    font-size: 35px;
    margin-bottom: .5rem;
  }

  .homeUserForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .homeForm{
    gap: 1rem;
    padding: 1rem;
    width: 40%;
  }

  .log{
    font-size: 40px;
  }

  .homeInp{
      font-size: 30px;
  }

  .darkHomeInp{
      font-size: 30px;
  }

  .homeInp:focus{
    box-shadow: 0px 0px 13px 5px var(--orange);
  }
    
  .darkHomeInp:focus{
  box-shadow: 0px 0px 13px 5px var(--orange);
  }

  .homeBtn{
    font-size: 30px;
  }
  
  .darkHomeBtn{
    font-size: 30px;
  }

  .homeBtn:hover{
    box-shadow: 0px 0px 13px 5px rgb(50, 187, 205);
  }
  
  .darkHomeBtn:hover{
    box-shadow: 0px 0px 3px 5px yellowgreen;
  }


/* =============================================== Locations ===========================================================*/
  
.locationsContainer{
    padding-top: 0rem;
    padding-bottom: 2rem; 
    height: 100%;
   }

   .locTitle1{
    font-size: 50px;
  }
  .locTitle2{
    font-size: 40px;
    margin-bottom: 1rem; 
  }
  
  .locIdInp{
    font-size: 35px;
  }

  .locBtnRtn{
    font-size: 35px;
    height: 3.9rem;
    margin-left: .5rem;
  }

  .darkLocIdInp{
    font-size: 35px;
  }

  .darkLocBtnRtn{
    font-size: 35px;
    height: 3.9rem;
    margin-left: .5rem;
  }




  .locIdRslt{
    font-size: 30px;
    font-weight: bold;
  }
  .locIdRslt:hover{
    transition: .4s;
    transform: scale(1.1);
    color: var(--orange);
  }

   .locBody{
     width: 100%;
   }
 
   .locInputs{
     width: 60%;
   }
 
   .locInput{
       font-size: 25px;
   }
 
   .darkLocInput{
       font-size: 25px;
   }
 
   .locBtns{
     gap: 5rem;
     margin-bottom: 1rem;
   }
 
   .locBtn{
     font-size: 22px;
   }
 
   .darkLocBtn{
     font-size: 22px;
   }
 
  .locListResult1{
     font-size: 25px;
  }

  .locationInfoContainer{
    padding-bottom: 2rem;
  }

  .locationsContainer{
    /* background-image: url('../assets/RMLocations2.png'); */
    background-position: bottom;
    background-size: 100rem;
  }

  .locInput:focus{
    box-shadow: 0px 0px 13px 5px var(--orange);
  }

  .darkLocInput:focus{
   box-shadow: 0px 0px 13px 5px var(--orange);
  }


  .locBtn:hover{
    box-shadow: 0px 0px 13px 5px rgb(50, 187, 205);
   }
 
   .darkLocBtn:hover{
    box-shadow: 0px 0px 13px 5px yellowgreen;          
   }


   .locIdInp:focus{
    box-shadow: 0px 0px 13px 5px var(--orange);
  }

  .locBtnRtn:hover{
    box-shadow: 0px 0px 13px 5px rgb(50, 187, 205);
  }

   .darkLocIdInp:focus{
    box-shadow: 0px 0px 13px 5px var(--orange);
  }

  .darkLocBtnRtn:hover{
    box-shadow: 0px 0px 13px 5px yellowgreen;
  }


 .locListResult1{
    font-size: 30px;
    font-weight: bold;
    transition: transform .2s;
    padding: .5rem;
 }

 .locListResult1:hover{
   color: var(--orange);
   transition: .4s;
   transform: translateX(3%);
 }


 /* ================================================ Locations info ======================================================*/

 .locationInfoContainer{
  gap: .8rem;
  padding: 1rem;
}

.locInfoTitle1{
  font-weight: bold;
  font-size: 45px;
  position: absolute;
  top: 5rem;
  left: 1rem;
}
.locInfoTitle2{
  font-weight: bold;
  font-size: 40px;
}

.locInfoData{
  display: flex;
}

.locInfoText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid gray; */
  padding: .5rem 3rem;
  font-size: 25px;
}

  .locInfoBtns{
    display: flex;
    gap: 5rem;
    margin-bottom: 0rem;
  }

  .locInfoBtn{
    font-size: 25px;
    height: 3.5rem;
    width: 17rem;
  }
  
  .darkLocInfoBtn{
    font-size: 25px;
    height: 3.5rem;
    width: 17rem;
  }

  .locInfoBtn:hover{
    box-shadow: 0px 0px 13px 5px rgb(50, 187, 205);    
  }
  
  .darkLocInfoBtn:hover{
    box-shadow: 0px 0px 13px 5px yellowgreen;  
  }

  .locInfoBtn:focus{
    color: var(--white);
  }
  
  .darkLocInfoBtn:focus{
      color: var(--white);
  }

  .locInfoInp{
    height: 4rem;
    width: 4.5rem;
    font-size: 30px;
  }

  .darkLocInfoInp{
    height: 4rem;
    width: 4.2rem;
    font-size: 30px;
  }
  .locInfoInp:focus{
    box-shadow: 0px 0px 13px 5px var(--orange);
  }

  .darkLocInfoInp:focus{
    box-shadow: 0px 0px 13px 5px var(--orange);
  }

  .locInfoPgsBtns{
    margin-bottom: 0rem;
  }


  .pagesBtns{
    font-size: 25px;
    height: 3.2rem;
    width: 7rem;
    margin: 1rem 1rem 0rem;

  }
  
  .darkPagesBtns{
    font-size: 25px;
    height: 3.2rem;
    width: 7rem;
    margin: 1rem 1rem 0rem;
  }

  .pagesBtns:hover{
    box-shadow: 0px 0px 13px 5px rgb(50, 187, 205);
  }
  
  .darkPagesBtns:hover{
    box-shadow: 0px 0px 13px 5px yellowgreen;
  }
  .pagesBtns:focus{
    color: var(--white);
  }
  
  .darkPagesBtns:focus{
    color: var(--white);
  }



  .pagesBtn{
    font-size: 20px;
    height: 2.2rem;
    top: .8rem;
    margin: 0rem .3rem 0rem ;
  }

  .darkPagesBtn{
    font-size: 20px;
    height: 2.2rem;
    top: .8rem;
    margin: 0rem .3rem 0rem ;
  }

  .pagesBtn:hover{
    box-shadow: 0px 0px 13px 5px rgb(50, 187, 205);
  }

  .darkPagesBtn:hover{
    box-shadow: 0px 0px 13px 5px yellowgreen;
  }

  .locInfList{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
    max-width: 1940px;
  }

  .locInfChaCard:hover{
    box-shadow: 0px 0px 13px 4px var(--orange);
    border-radius: 1rem;
  }

  .locInfCardNme{
    color: var(--black);
    font-size: 25px;
  }

  .darkLocInfCardNme{
    color: var(--white);
    font-size: 25px;
  }

  .locInfCardImg{
    width: 12rem;
    height: 12rem;
    border-radius: 1rem;
  }


  
.characterStatus{
  height:  1.4rem;
  width: 54%;
  top: -12rem;
}

.darkCharacterStatus{
  height: 1.4rem;
  width: 54%;
  top:-12rem;
}

.statFont{
  font-size: 16px;
  position: relative;
  left: -.7rem;
}
.darkStatFont{
  font-size: 16px;
  position: relative;
  left: -.7rem;
}

.status{
  width: 15px;
  height: 15px;
}

  /* ================================================== Character =========================================================== */

  .characterContainer{
    padding-top: 9rem;
  }

  .characterFilter2{
    width: 95%;
  }

  .charactersTitle1{
    font-size: 45px;
  }
  .charactersTitle2{
    font-size: 40px;
  }

  .charactersNameFilter{
    font-size: 40px;
  }
  .darkCharactersNameFilter{
    font-size: 40px;
  }

  .characterBtns2{
    gap: 3rem;
    margin-top: 2rem;
  }
  .characterBtns2-bg{
    gap: 3rem;

  }
  .darkCharacterBtns2-bg{
    gap: 3rem;

  }

  .characterBtn{ 
    font-size: 27px;
    cursor: pointer;
  }

  .darkCharacterBtn{ 
    font-size: 27px;
    cursor: pointer;
  }

  .characterBtn:hover{ 
    box-shadow: 0px 0px 13px 5px rgb(50, 187, 205);
    box-shadow: 0px 0px 13px 3px cyan;
    color: var(--white);
  }

  .darkCharacterBtn:hover{ 
    box-shadow: 0px 0px 13px 5px yellowgreen;
    color: var(--white);
  }
  .characterBtn:focus{ 
    color: var(--white);
  }

  .darkCharacterBtn:focus{ 
    color: var(--white);
  }

/* ------------------------- Filters */

.nameIdInp{
  font-size: 30px;
  width: 40rem;
}


.darkNameIdInp{
    font-size: 30px;
    width: 40rem;
}
.nameIdInp:focus{
 box-shadow: 0px 0px 13px 5px var(--orange); 
}


.darkNameIdInp:focus{
  box-shadow: 0px 0px 13px 5px var(--orange); 
}



.nameIdBtn{
    font-size: 25px;
    height: 3.5rem;
    width: 10rem;
    padding-top: 1rem;
}

.darkNameIdBtn{
  font-size: 25px;
  height: 3.5rem;
  width: 10rem;
  padding-top: 1rem;
}
.nameIdBtn:hover{
  box-shadow: 0px 0px 13px 5px rgb(50, 187, 205);
}

.darkNameIdBtn:hover{
  box-shadow: 0px 0px 13px 5px yellowgreen;
}



.NameIdBtnsCont{
    gap: 3rem;
    margin: 0rem 0rem 1rem 3rem;
}

.NIPage{
    font-size: 40px;
}

.darkNINameSearchBtn{
  font-size: 25x;
  height: 3.2rem;
  top: 4px;
  margin: 1rem 1rem 2rem 1rem;
}


.nINameSearchBtn{
  font-size:20px;
  height: 3.2rem;
  top: 4px;
  margin: 1em 1rem 2rem 1rem;
}

.darkNINameSearchBtn:hover{
  box-shadow: 0px 0px 13px 5px yellowgreen;
}
.darkNINameSearchBtn:focus{
  color: var(--white);
}

.nINameSearchBtn:hover{
  box-shadow: 0px 0px 13px 5px rgb(50, 187, 205);
}
.nINameSearchBtn:focus{
  color: var(--white);
}



.filtersListContainer{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 4rem;
}

.darkNICharacterName{
  font-size: 25px;
}
.nICharacterName{
  font-size: 25px;
}

.darkNICharacterName:hover{
  transition: .2s;
  transform: scale(1.1);
  color: var(--orange);
}
.nICharacterName:hover{
  transition: .2s;
  transform: scale(1.1);
  color: var(--orange);
}

/* .filtersImgs{
  height: ;
  width: ;
} */

.filtersImgs:hover{
  transition: .2s;
    transform: scale(1.1);
    border: 5px solid var(--orange);
}

  /* ================================================ Character Info ====================================================== */

  .characterInfoContainer{
    background-repeat: repeat;
    background-size: auto;
    background-position-x: center;
  }

  .characterInfoTitle1{
    font-size: 45px;
  }
  .characterInfoTitle2{
    font-size: 35px;
  }

  .cIText{
    font-size: 30px;
  }

  .characterInfoData{
    margin-right: 9rem;
  }

  .characterInfoImg{
    height: 320px;
    width: 320px;
  }

  .characInfoBtnsCont{
    display: flex;
    position: absolute;
    top: 23rem;
    gap: 4rem;
  }

  .ipadSize{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 1rem;
    padding: 0rem;
  }

  .statFont3{
    margin-top: .8rem;
    font-size: 22px;
  }
  .darkStatFont3{
    margin-top: .8rem;
    font-size: 22px;
  }

  .darkCharacterStatus3{
    height: 2.2rem;
    width: 10rem;
    top: -20rem;
    left: 0rem;
  }
 
  .characterStatus3{
    height: 2.2rem;
    width: 10rem;
    top: -20rem;
    left: 0rem;
  }

  .characterInfoData{
    text-align: left;
  }
}
