@media screen and (min-width: 1921px){
  /* ==================================================== Loader ============ */

  .spinner2{
    width: 22rem ;
    height:  22rem;
    animation: load 2s infinite;
  }


  /* ====================================================== SideMenu */

.menuContainer {
  padding: 2rem;
  gap: 3rem;
}

.links{
  display: flex;
}

.dkBtn{
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 40px;
}

.link{
  font-size: 40px;
  margin: 0rem 2rem;

}

.darkLink{
  font-size: 40px;
  margin: 0rem 2rem;

}

.fa-regular{
  margin-left: 1rem;
  -webkit-transition: -webkit-transform 1s;
}

.fa-regular:hover {
  -webkit-transform: rotate(370deg) translateZ(0);
}

    /* =============================================== HOME ================================================================ */
    .homeContainer{
      background-size: 280rem;
      background-position-x: 1rem;
      background-position-y: -4rem;
      background-repeat: no-repeat;
    }

    .homePageBtn{
      width: 250px;
      height: 100px;
    }

      .homeInfo{
        padding: 4rem;
      }
    
      .homeTitle{
        text-align: center;
        font-size: 70px;
        margin-bottom:  4rem;
      }
      
      .homeTitle2{
        font-size: 60px;
        margin-bottom: 4rem;
      }
    
      .homeTitle3{
        font-size: 55px;
      }
    
      .homeForm{
        gap: 1.5rem;
        padding: 1rem;
        width: 50%;
      }
    
      .log{
        font-size: 50px;
      }
    
      .homeInp{
          font-size: 40px;
      }
    
      .darkHomeInp{
          font-size: 40px;
      }
    
    
  .homeInp:focus{
    box-shadow: 0px 0px 13px 5px var(--orange);
  }
    
  .darkHomeInp:focus{
  box-shadow: 0px 0px 13px 5px var(--orange);
  }
    
      .homeBtn{
        font-size: 40px;
      }
      
      .darkHomeBtn{
        font-size: 40px;
      }
    
      .homeBtn:hover{
        box-shadow: 0px 0px 13px 5px yellowgreen;;
      }
      
      .darkHomeBtn:hover{
        box-shadow: 0px 0px 3px 5px yellowgreen;
      }
    
    
    /* =============================================== Locations ===========================================================*/
      
    .locationsContainer{
        padding: 5rem; 
        height: 100%;
        /* background-image: url('../assets/RMLocations2.png'); */
        background-position: bottom ;
        background-size: 130rem;
       }

      .locTitle1{
        font-size: 60px;
      }
      .locTitle2{
        font-size: 50px;
        margin-bottom: 1rem;
      }

      .locIdInp{
        font-size: 45px;
      }
      .darkLocIdInp{
        font-size: 45px;
      }

      .locIdInp:focus{
        box-shadow: 0px 0px 13px 5px var(--orange);
      }
      .darkLocIdInp:focus{
        box-shadow: 0px 0px 13px 5px var(--orange);
      }
    
      .locBtnRtn{
        font-size: 45px;
        height: 4.8rem;
        margin-left: .5rem;
      }
      .darkLocBtnRtn{
        font-size: 45px;
        height: 4.8rem;
        margin-left: .5rem;
      }


      .locBtnRtn:hover{
        box-shadow: 0px 0px 13px 5px yellowgreen;
      }
      .darkLocBtnRtn:hover{
        box-shadow: 0px 0px 13px 5px yellowgreen;
      }

      .locIdRslt{
        font-size: 40px;
        font-weight: bold;
      }

      .locIdRslt:hover{
        transition: .4s;
        transform: scale(1.1);
        color: var(--orange);
      }

       .locBody{
         width: 100%;
       }
     
       .locInputs{
         width: 60%;
         margin-bottom: 2rem;
         gap: 2rem;
       }
     
       .locInput{
           font-size: 40px;
           height: 5rem;
       }
     
       .darkLocInput{
           font-size: 40px;
           height: 5rem;
       }
       .locInput:focus{
         box-shadow: 0px 0px 13px 5px var(--orange);
       }
     
       .darkLocInput:focus{
        box-shadow: 0px 0px 13px 5px var(--orange);
       }
     
       .locBtns{
         gap: 10rem;
         margin-bottom: 1rem;
       }
     
       .locBtn{
         font-size: 35px;
         width: 15rem;
       }
     
       .darkLocBtn{
         font-size: 35px;
         width: 15rem;
       }

       .locBtn:hover{
        box-shadow: 0px 0px 13px 5px yellowgreen;;
       }
     
       .darkLocBtn:hover{
        box-shadow: 0px 0px 13px 5px yellowgreen;;            
       }

       .locPageNum{
        font-size: 50px;
       }
     
      .listContainer{
        /* padding: 0rem 0rem 3rem 26rem; */
        padding: 0rem 0rem 3rem 0rem;
        margin-left: 15rem;
      }
       
      .locListResult1{
         font-size: 40px;
         font-weight: bold;
         transition: transform .2s;
         padding: .5rem;
      }

      .locListResult1:hover{
        color: var(--orange);
        transition: .4s;
        transform: translateX(3%);
      }

    
 /* ================================================ Locations info ======================================================*/

 .locationInfoContainer{
  height: 100vh;
  gap: 2rem;
  padding: 2rem;
}

.locInfoTitle1{
  font-weight: bold;
  font-size: 65px;
  position: absolute;
  top: 8rem;
  left: 1rem;
}
.locInfoTitle2{
  font-size: 55px;
  /* background-color: aqua; */
  margin-bottom: 2rem;
}

.locInfoText{
  font-size: 45px;
}

.locInfoData{
  display: flex;
  /* background-color: aqua; */
}

.locInfoText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid gray; */
  padding: .5rem 3rem;
  font-size: 45px;
  font-weight: bold;
}

  .locInfoBtns{
    gap: 8rem;
    /* background-color: aqua; */
    margin-top: 4rem;
  }

  .locInfoBtn{
    font-size: 40px;
    height: 4.7rem;
    width: 25rem;
  }
  
  .darkLocInfoBtn{
    font-size: 40px;
    height: 4.7rem;
    width: 25rem;
  }

  .locInfoInp{
    height: 4.5rem;
    width: 8rem;
    font-size: 40px;
  }

  .darkLocInfoInp{
    height: 4.5rem;
    width: 8rem;
    font-size: 40px;
  }

  .locInfoPgsBtns{
    margin-bottom: 5rem;
  }

  .pagesBtns{
    font-size: 40px;
    height: 5rem;
    width: 10rem;
    margin: 2rem 1rem 0rem;

  }
  
  .darkPagesBtns{
    font-size: 40px;
    height: 5rem;
    width: 10rem;
    margin: 2rem 1rem 0rem;
  }

  .pagesBtn{
    font-size: 30px;
    height: 3.3rem;
    top: 1.4rem;
    margin: 0rem .3rem 0rem ;
  }

  .darkPagesBtn{
    font-size: 30px;
    height: 3.3rem;
    top: 1.4rem;
    margin: 0rem .3rem 0rem ;
  }

  .locInfList{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 7rem;
    max-height: 700px;
    overflow-y: hidden;
    /* max-width: 1940px; */
  }

  
  .locInfList::-webkit-scrollbar{
    height: 15px;
  }
  .locInfList::-webkit-scrollbar-track{
    background: #dee0e0;
  }
  .locInfList::-webkit-scrollbar-thumb{
    background: orange;
    border-radius: 5rem;
  }

  .locInfChaCard:hover{
    box-shadow: 0px 0px 13px 4px var(--orange);
    border-radius: 1rem;
  }

  .locInfCardNme{
    font-size: 40px;
  }

  .darkLocInfCardNme{
    font-size: 40px;
  }

  .locInfCardImg{
    width: 18rem;
    height: 18rem;
    border-radius: 1rem;
  }


  
.characterStatus{
  height: 2rem;
  width: 60%;
  top:  -18rem;
}

.darkCharacterStatus{
  height: 2rem;
  width: 60%;
  top: -18rem;
}

.statFont{
  font-size: 25px;
}
.darkStatFont{
  font-size: 25px;
}

.status{
  width: 20px;
  height: 20px;
}



  /* ================================================== Character =========================================================== */

  .characterContainer{
    padding-top: 9rem;
  }

  .characterFilter2{
    width: 95%;
  }

  .charactersTitle1{
    font-size: 60px;
  }
  .charactersTitle2{
    font-size: 50px;
  }

  .charactersNameFilter{
    font-size: 60px;
  }
  .darkCharactersNameFilter{
    font-size: 60px;
  }

  .characterBtns2{
    gap: 5rem;
    margin-top: 5rem;
    padding: 1rem;
  }
  .characterBtns2-bg{
    gap: 5rem;

  }
  .darkCharacterBtns2-bg{
    gap: 5rem;

  }

  .characterBtn{ 
    font-size: 40px;
    cursor: pointer;
  }

  .darkCharacterBtn{ 
    font-size: 40px;
    cursor: pointer;
  }

  .characterBtn:hover{ 
    box-shadow: 0px 0px 13px 5px rgb(50, 187, 205);
    box-shadow: 0px 0px 13px 3px cyan;
    color: var(--white);
  }

  .darkCharacterBtn:hover{ 
    box-shadow: 0px 0px 13px 5px yellowgreen;
    color: var(--white);
  }
  .characterBtn:focus{ 
    color: var(--white);
  }

  .nINameSearchBtn:hover{
    box-shadow: 0px 0px 13px 5px rgb(50, 187, 205);
  }
  .nINameSearchBtn:focus{
    color: var(--white);
  }

/* ------------------------- Filters */

.nameIdInp{
  font-size: 40px;
  width: 70rem;
}


.darkNameIdInp{
    font-size: 40px;
    width: 70rem;
}
.nameIdInp:focus{
 box-shadow: 0px 0px 13px 5px var(--orange); 
}


.darkNameIdInp:focus{
  box-shadow: 0px 0px 13px 5px var(--orange); 
}



.nameIdBtn{
    font-size: 50px;
    height: 5.2rem;
    width: 14rem;
}

.darkNameIdBtn{
  font-size: 50px;
  height: 5.2rem;
  width: 14rem;
}
.nameIdBtn:hover{
  box-shadow: 0px 0px 13px 5px rgb(50, 187, 205);
}

.darkNameIdBtn:hover{
  box-shadow: 0px 0px 13px 5px yellowgreen;
}

.NameIdBtnsCont{
    gap: 6rem;
    margin: 0rem 0rem 1rem 3rem;
}

.NIPage{
    font-size: 60px;
}

.darkNINameSearchBtn{
  font-size: 30px;
  height: 4rem;
  top: 4px;
  margin: 1rem 1rem 2rem 1rem;
}

.nINameSearchBtn{
  font-size: 30px;
  height: 4rem;
  top: 4px;
  margin: 1rem 1rem 2rem 1rem;
}
.darkNINameSearchBtn:hover{
  box-shadow: 0px 0px 13px 5px yellowgreen;
}

.nINameSearchBtn:hover{
  box-shadow: 0px 0px 13px 5px rgb(50, 187, 205)
}



.filtersListContainer{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 5rem;
   overflow-y: hidden;
}

.filtersListContainer::-webkit-scrollbar{
  height: 15px;
}
.filtersListContainer::-webkit-scrollbar-track{
  background: #d1d1d1;
}
.filtersListContainer::-webkit-scrollbar-thumb{
  background: orange;
  border-radius: 5rem;
}

.darkNICharacterName{
  font-size: 30px;
}
.nICharacterName{
  font-size: 30px;
}

.darkNICharacterName:hover{
  transition: .2s;
  transform: scale(1.1);
  color: var(--orange);
}
.nICharacterName:hover{
  transition: .2s;
  transform: scale(1.1);
  color: var(--orange);
}

.filtersImgs:hover{
  transition: .2s;
    transform: scale(1.1);
    border: 5px solid var(--orange);
}

.filtersImgs:hover{
  transition: .2s;
    transform: scale(1.1);
    border: 5px solid var(--orange);
}
      /* ================================================ Character Info ====================================================== */
      
      .characterInfoContainer{
        background-repeat: repeat;
        background-size: auto;
        background-position-x: center;
      }
    
      .characterInfoTitle1{
        font-size: 65px;
        position: absolute;
        left: 0;
      }
      .characterInfoTitle2{
        font-size: 55px;
        margin: 10rem 0rem 0rem;
      }
    
      .cIText{
        font-size: 50px;
      }
    
      .characterInfoData{
        margin-right: 9rem;
      }
    
      .characterInfoImg{
        height: 520px;
        width: 520px;
      }
    
      .characInfoBtnsCont{
        display: flex;
        position: absolute;
        top: 47rem;
        gap: 5rem;
        
      }
    
      .ipadSize{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 1rem;
        padding: 0rem;
      }
    
      .statFont3{
        margin-top: .8rem;
        font-size: 30px;
      }
      .darkStatFont3{
        margin-top: .8rem;
        font-size: 30px;
      }
    
      .darkCharacterStatus3{
        height: 2.2rem;
        width: 15rem;
        top: -33rem;
        left: 0rem;
      }
     
      .characterStatus3{
        height: 2.2rem;
        width: 15rem;
        top: -33rem;
        left: 0rem;
      }
    
      .characterInfoData{
        text-align: left;
      }
    }
    