*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
  /* Dark Mode */
  --light-green: rgb(6, 43, 50);
  --dark-green: rgb(5, 42, 47);
  --white: #f1f1f1;
  --grey: rgb(130, 122, 122);
  --scrollDark: rgba(1, 13, 15, 0.507);

  /*  Light Mode */
  --black: #2b2b2b;
  --white: #f1f1f1;
  --scrollWhite: #92929275;
  --orange: rgb(255, 171, 16);

  /* Dead */
  --dead: rgb(191, 65, 65);
  /* Alive */
  --alive: rgb(61, 182, 123);
  /* Unknown */
  --unknown: rgb(151, 146, 146);
}

 html{
  height: 100vh;
  scroll-behavior: smooth;
}

.dark-mode {
  background-color: var(--light-green);
  color: var(--white);
  height: 100%;
  transition: background-color 0.30s ease-in-out;
}

.light-mode {
  /* background-color: #303030; */
  background-color: var(--white);
  color: var(--black);
  height: 100%;
  transition: background-color 0.30s ease-in-out;
}


/* ====================================================== LOADER */

.loader{
  margin: 0 auto;
  background-color: rgba(5, 42, 47, 0.541);
  /* background-color: rgba(0, 0, 0, 0.596);  */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0rem;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.spinner2{
  width: 11rem ;
  height:  11rem;
  animation: load 2s infinite;
  /* animation: load2 1s infinite; */
}

@keyframes load {
 100%{
  transform: rotate(360deg);
 }
  
}

/* ====================================================== SideMenu */


.menuContainer {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
  }
  
  .links{
    display: flex;
  }

  .linksMenu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3rem;
    align-items: flex-start;
    background-color: rgba(29, 29, 29, 0.918);
    color: var(--white);
    height: 100vh;
    width: 60%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    transition: all ease-in-out .2s;
    transform: translateX(40vw);
  }

  .extraBtns{
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    margin: 1rem -1rem 0rem;
  }

  .dkBtn{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 25px;
  }

  .homePageBtn{
    position: absolute;
    top: 0rem;
    left: 0rem;
    height: 3rem;
    width: 8rem;
    animation: homeIcon 1.5s infinite;
  }

  @keyframes homeIcon{
    0% {
      transform: translateY( 0 );
    }
    50%{
      transform: translateY( 2px );
    }
    100%{
      transform: translateY( 0 );
      
    }
  }
  
  .link{
    text-decoration: none;
    font-size: 25px;
    margin: 0rem 1rem;
    font-weight: bold;
    color: var(--black);
  }

  .darkLink{
    color: var(--white);
    text-decoration: none;
    font-size: 25px;
    margin: 0rem 1rem;
    font-weight: bold;
  }
  
  .link:hover{
    color: var(--orange);
    transition: .4s;
    transform: scale(1.1)
  }

  .darkLink:hover{
    transition: .4s;
    transform: scale(1.1);
    color: var(--orange);
  }

  
  .toggler{
    display: flex;
    gap: 5px;
  }
 
  .fa-regular{
    margin-left: 1rem;
    -webkit-transition: -webkit-transform 1s;
  }

  .fa-regular:hover {
    -webkit-transform: rotate(370deg) translateZ(0);
  }

  /* =========================================================================== Responsive menu */

  .nav-btn{
    visibility: hidden;
    opacity: 0;
    background-color: transparent;
    border: none;
    outline: none;
 }
 
 @media only screen and (max-width: 1080px){
  .nav-btn{
     visibility: visible;
     opacity: 1;
   }

  nav{
     position: fixed;
     top: 0;
     left: 0;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     /* transition: 1s; */
     transform: translateX(100vw);
   }
  }   

/* ================================================ LocationInfo ============================================================ */

.characterStatus{
  background-color: var(--white) ;
  height: 1.7rem;
  display: flex;
  align-items: center;
  width: 55%;
  position: relative;
  top: -18rem;
  padding: 10px;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.darkCharacterStatus{
  background-color: var(--light-green) ;
  height: 1.7rem;
  display: flex;
  align-items: center;
  width: 50%;
  position: relative;
  top:-18rem;
  padding:  10px;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.statFont{
  color: var(--orange);
  color: var(--black);
  margin-top: .3rem;
  font-weight: bold;
  font-size: 18px;
}
.darkStatFont{
  /* color: var(--orange); */
  color: var(--white);
  margin-top: .3rem;
  font-weight: bold;
  font-size: 18px;
}

.status{
  border-radius: 100%;
  width: 15px;
  height: 15px;
  margin-right: 1rem;
}


.dead{
  background-color: var(--dead) ;
}
.alive{
  background-color: var(--alive);
}
.unknown{
  background-color: var(--unknown);
}
/* ================================================ Characters Status ============================================================ */

.characterStatus2{
  background-color: var(--white) ;
  height: 1.7rem;
  display: flex;
  align-items: center;
  width: 82%;
  position: relative;
  top: -13rem;
  left: 0rem;
  padding: 10px;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.darkCharacterStatus2{
  background-color: var(--light-green) ;
  height: 1.7rem;
  display: flex;
  align-items: center;
  width: 82%;
  position: relative;
  top: -13rem;
  left: 0rem;
  padding: 10px;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.statFont2{
  color: var(--orange);
  color: var(--black);
  margin-top: .8rem;
  font-weight: bold;
  font-size: 18px;
}
.darkStatFont2{
  /* color: var(--orange); */
  color: var(--white);
  margin-top: .8rem;
  font-weight: bold;
  font-size: 18px;
}

.status2{
  border-radius: 100%;
  width: 15px;
  height: 15px;
  margin-right: 1rem;
}


/* ================================================ CharacterInfoStatus ============================================================ */

.characterStatus3{
  background-color: var(--white) ;
  height: 1.7rem;
  display: flex;
  align-items: center;
  width: 9rem;
  position: relative;
  top: -16rem;
  left: 0rem;
  padding: 10px;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.darkCharacterStatus3{
  background-color: var(--light-green) ;
  height: 1.7rem;
  display: flex;
  align-items: center;
  width: 9rem;
  position: relative;
  top: -16.5rem;
  left: 0rem;
  padding: 10px;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.statFont3{
  color: var(--orange);
  color: var(--black);
  margin-top: .8rem;
  font-weight: bold;
  font-size: 18px;
}
.darkStatFont3{
  /* color: var(--orange); */
  color: var(--white);
  margin-top: .8rem;
  font-weight: bold;
  font-size: 18px;
}


  /* =============================================== HOME ================================================================ */
  .homeContainer{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
    background-image: url('./assets/portal.png');
    background-size: 70rem;
    /* background-position-x: center; */
    background-position-x: -15rem;
    background-position-y: 16rem;
    background-repeat: no-repeat;
  }

  .homeInfo{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
  }

  .homeTitle{
    text-align: center;
    font-size: 35px;
    /* font-weight: bold; */
    /* color: var(--orange); */
  }
  
  .homeTitle2{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
  }

  .homeUserForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .homeForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: .5rem;
    padding: 1rem;
    margin-top: 3rem;
    width: 80%;
  }

  .log{
    text-align: center;
  }

  .homeInp{
      text-align: center;
      font-weight: bold;
      font-size: 18px;
      padding: .5rem .3rem;
      border: none;
      border-radius: .3rem;
      /* box-shadow: 0px 0px 13px 2px greenyellow; */
  }
  .darkHomeInp{
      text-align: center;
      font-weight: bold;
      font-size: 18px;
      padding: .5rem .3rem;
      border: none;
      border-radius: .3rem;
  }

  .homeBtn{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: .5rem .3rem;
    border: none;
    border-radius: .3rem;
    background-color: var(--orange);
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.315);
  }
  
  .darkHomeBtn{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: .5rem .3rem;
    border: none;
    border-radius: .3rem;
    background-color: var(--orange);
    box-shadow: 3px 3px 10px 1px rgb(153, 205, 50);
  }

  /* =============================================== Locations ===========================================================*/
  
  .locationsContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 1rem; */
    /* background-image: url(./assets/RMLocations.png); */
    background-image: url(./assets/RMLocations2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    /* background-size: 100rem; */
    background-size: auto;
    padding-bottom: 1rem;
  }

  .locBody{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .locInputs{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: 1rem;
  }

  .locInput{
    padding: .3rem 1.5rem;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      border: none;
      border-radius: .3rem;
      box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.315);
  }

  .darkLocInput{
      padding: .3rem 1.5rem;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      border: none;
      border-radius: .3rem;
      box-shadow: 1px 1px 9px 1px rgba(153, 205, 50, 0.603);
  }

  .locBtns{
    display: flex;
    gap: .5rem;
    margin-bottom: 1rem;
  }

  .locBtn{
    padding: 0.5rem;
    border: none;
    border-radius: .2rem;
    font-weight: bold;
    font-size: 19px;
    background-color: var(--orange);
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.315);
  }

  .darkLocBtn{
    padding: 0.5rem;
    border: none;
    border-radius: .2rem;
    font-weight: bold;
    font-size: 19px;
    background-color: var(--orange);
    color: var(--white);
    box-shadow: 3px 3px 5px 1px rgba(153, 205, 50, 0.603);
  }

  .listContainer{
    width: 90%;
    padding: .5rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

  .locList{
    list-style: none;
    font-size: bold;
  }

  .locListRslt{
    text-decoration: none;
    color: var(--black);
    font-size: bold;
  }

  .darkLocListRslt{
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
  }

  .locIdSrch{
    height: 100vh;
    padding-top: 5rem;
  }

  .locIdInp{
    padding: .3rem .5rem;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: .3rem;
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.315);
  }
  
  .locBtnRtn{
    padding: 0.5rem;
    margin:.5rem 0rem 2rem ;
    border: none;
    border-radius: .2rem;
    font-weight: bold;
    font-size: 19px;
    height: 2.3rem;
    position: relative;
    top: 4px;
    background-color: var(--orange);
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.315); 
    margin-left: .3rem;
  }

  .darkLocIdInp{
    padding: .3rem .5rem;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: .3rem;
    box-shadow: 3px 3px 5px 1px rgba(153, 205, 50, 0.603);
  }
  
  .darkLocBtnRtn{
    padding: 0.5rem;
    margin:.5rem 0rem 2rem ;
    border: none;
    border-radius: .2rem;
    font-weight: bold;
    font-size: 19px;
    height: 2.3rem;
    position: relative;
    top: 4px;
    background-color: var(--orange);
    box-shadow: 3px 3px 5px 1px rgba(153, 205, 50, 0.603);
    margin-left: .3rem;
  }

  .locRslt{
    text-align: center;
    color: var(--black);
    text-decoration: none;
  }

  .darkLocRslt{
    text-align: center;
    color: var(--white);
    text-decoration: none;
  }
 
  /* ================================================ Locations info ======================================================*/

  .locationInfoContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-image: url('./assets/locInf.png'); 
    background-size: 40rem; 
    /* background-repeat: no-repeat; */
    background-position-x: center;
    background-position-y: top;
  }

  .locInfoTitle{
    font-weight: bold;
    font-size: 35px;
  }

  .lIdata{
    color: var(--grey);
    font-weight:normal ;
  }

  .darkLIData{
    color: var(--grey);
    font-weight:normal ;
  }

  .locInfoBtns{
    display: flex;
    gap: .5rem;
  }

  .locInfoBtn{
    padding: 0.5rem;
    border: none;
    border-radius: .2rem;
    font-weight: bold;
    font-size: 13px;
    height: 2.3rem;
    position: relative;
    top: 4px;
    background-color: var(--orange);
    box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.315);
  }
  
  .darkLocInfoBtn{
    padding: 0.5rem;
    border: none;
    border-radius: .2rem;
    font-weight: bold;
    font-size: 15px;
    height: 2.3rem;
    position: relative;
    top: 4px;
    color: var(--black);
    background-color: var(--orange);
    box-shadow: 1px 1px 9px 1px rgba(153, 205, 50, 0.603);
  }

  .locInfoInp{
    text-align: center;
    height: 2.4rem;
    position: relative;
    top: .2rem;
    width: 3rem;
    font-weight: bold;
    border: none;
    border-radius: .2rem;
    border-radius: .3rem;
    box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.315);
  }

  .darkLocInfoInp{
    text-align: center;
    height: 2.4rem;
    position: relative;
    top: .2rem;
    width: 3rem;
    font-weight: bold;
    border: none;
    border-radius: .2rem;
    /* box-shadow: 3px 3px 5px 1px rgba(255, 255, 255, 0.315); */
  }

  .locInfoPgsBtns{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .2rem;
    margin-bottom: 1rem;
  }

  .pagesBtns{
    padding: 0.5rem;
    border: none;
    border-radius: .2rem;
    font-weight: bold;
    font-size: 15px;
    height: 2.3rem;
    position: relative;
    top: 4px;
    margin: 0rem .4rem 0rem;
    background-color: var(--orange);
  }
  
  .darkPagesBtns{
    padding: 0.5rem;
    border: none;
    border-radius: .2rem;
    font-weight: bold;
    font-size: 15px;
    height: 2.3rem;
    position: relative;
    top: 4px;
    margin: 0rem .4rem 0rem;
    background-color: var(--orange);
  }

  .pagesBtn{
    padding: 0.2rem;
    border: none;
    border-radius: .5rem;
    font-weight: bold;
    font-size: 15px;
    height: 2rem;
    position: relative;
    top: 4px;
    margin: 0rem .2rem 0rem ;
    box-shadow: 0px 0px 5px 1px rgb(0, 0, 0);
  }

  .darkPagesBtn{
    padding: 0.2rem;
    border: none;
    border-radius: .5rem;
    font-weight: bold;
    font-size: 15px;
    height: 2rem;
    position: relative;
    top: 4px;
    margin: 0rem .2rem 0rem;
    box-shadow: 0px 0px 3px 3px rgb(153, 205, 50);
  }
  .pagesBtn:focus{
      background-color: var(--orange);
    /* box-shadow: 0px 0px 5px 1px rgb(0, 0, 0); */
  }

  .darkPagesBtn:focus{
    background-color: var(--orange);
    /* box-shadow: 0px 0px 3px 3px rgb(153, 205, 50); */
  }

  .locInfChaCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  .locInfCardImg{
    width: 15rem;
    height: 15rem;
    border-radius: 1rem;
  }

  /* .locInfCardImg:{
   
  } */

  .locInfCardNme{
    color: var(--black);
  }

  .darkLocInfCardNme{
    color: var(--white);
  }

/* ================================================== Character =========================================================== */

  .characterContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6.2rem;
    background-image: url(./assets/ricks.png);
    /* background-repeat: no-repeat; */
  }

  .charactersTitle{
    /* margin-top: 3rem; */
  }

  .charactersNameFilter{
    font-size: 27px;
    font-weight: bold;
    /* text-decoration: underline; */
    text-transform: uppercase;
    color: var(--black);
  }
  .darkCharactersNameFilter{
    font-size: 27px;
    font-weight: bold;
    /* text-decoration: underline; */
    text-transform: uppercase;
    color: var(--white);
  }

  .characterBtns{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .7rem;
    padding: .2rem;
    margin-bottom: 1rem;
    margin-bottom: 2rem;
  }

  .characterBtns2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .7rem;
    padding: .2rem;
    margin-bottom: 1rem;
    /* margin-bottom: 2rem; */
    position: fixed;
    top: 4rem;
    left: 0;
    right: 0;
  }
  .characterBtns2-bg{
    background-color: var(--scrollWhite);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .7rem;
    padding: .2rem .2rem 0rem;
    position: fixed;
    top: 0rem;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .darkCharacterBtns2-bg{
    background-color: var(--scrollDark);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .7rem;
    padding: .2rem;
    margin-bottom: 1rem;
    position: fixed;
    top: 0rem;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .characterBtn{ 
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: .5rem .3rem;
    border: none;
    border-radius: .3rem;
    background-color: var(--orange);
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.315); 
    text-decoration: none;
    color: var(--black);
  }
  .darkCharacterBtn{ 
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: .5rem .3rem;
    border: none;
    border-radius: .3rem;
    background-color: var(--orange);
    box-shadow: 0px 0px 3px 3px rgb(153, 205, 50); 
    text-decoration: none;
    color: var(--black);
  }

/* ------------------------- Filters */

.nameIdInp{
  padding: .3rem .5rem;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: .3rem;
  margin-bottom: -.5rem;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.315);
}

.nameIdBtn{
  padding: 0.5rem;
  margin:.5rem 0rem 2rem ;
  border: none;
  border-radius: .2rem;
  font-weight: bold;
  font-size: 19px;
  height: 2.3rem;
  position: relative;
  top: 4px;
  background-color: var(--orange);
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.315); 
  margin-left: .3rem;
}

.darkNameIdInp{
  padding: .3rem .5rem;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: .3rem;
  margin-bottom: -.5rem;
  box-shadow: 3px 3px 5px 1px rgba(153, 205, 50, 0.603);
}

.darkNameIdBtn{
  padding: 0.5rem;
  margin:.5rem 0rem 2rem ;
  border: none;
  border-radius: .2rem;
  font-weight: bold;
  font-size: 19px;
  height: 2.3rem;
  position: relative;
  top: 4px;
  background-color: var(--orange);
  box-shadow: 3px 3px 5px 1px rgba(153, 205, 50, 0.603);
  margin-left: .3rem;
}



.NameIdBtnsCont{
  display: flex;
}

.NIPage{
  margin: 1rem 1rem 0rem 1rem;
}

.darkNINameSearchBtn{
  padding: 0.5rem;
  margin:.5rem 0rem 2rem ;
  border: none;
  border-radius: .2rem;
  font-weight: bold;
  font-size: 19px;
  height: 2.3rem;
  position: relative;
  top: 4px;
  background-color: var(--orange);
  box-shadow: 3px 3px 5px 1px rgba(153, 205, 50, 0.603);
  margin-left: .3rem;
}

.nINameSearchBtn{
  padding: 0.5rem;
  margin:.5rem 0rem 2rem ;
  border: none;
  border-radius: .2rem;
  font-weight: bold;
  font-size: 19px;
  height: 2.3rem;
  position: relative;
  top: 4px;
  background-color: var(--orange);
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.315); 
  margin-left: .3rem;
}


.nICharacterList{
  text-decoration: none;
  margin-top: 2rem;
  width: 192px;
}

.nICharacterName{
  text-align: center; 
  color: var(--black);
}

.darkNICharacterName{
  text-align: center;
  color: var(--white);
}

.filtersImgs{
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  margin-top: 1rem;
}

  /* ================================================ Character Info ====================================================== */

  .characterInfoContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 1rem 0rem;
    /* font-size: 5px; */
    background-image: url(./assets/pickels.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 180rem; */
    background-position-x: center;
    /* background-position-y: -80rem; */
  }

  .characterInfoData{
    text-align: center;
  }

  .lCdata{
    color: var(--grey);
    font-weight:normal ;
  }

  .darkCIData{
    color: var(--grey);
    font-weight:normal ;
  }

  .cIText{
    font-size: 19px;
  }

  .characterInfoImg{
    height: 250px;
    width: 250px;
    box-shadow: 0px 0px 13px 5px var(--orange);
  }
  
  .characInfoBtnsCont{
    display: flex;
  }

  .ipadSize{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.characterInfoAnimated{
  animation: characterImg 3s infinite;
}


@keyframes characterImg{
  0% {
    transform: translateY( 0 );
  }
  50%{
    transform: translateY( 10px );
  }
  100%{
    transform: translateY( 0 );
    
  }
}